---
import Layout from '../../layouts/Layout.astro';
import Header from '../../components/Header.astro';
import Hero from '../../components/Hero.astro';
import Fleet from '../../components/Fleet.astro';
import Services from '../../components/Services.astro';
import Advantages from '../../components/Advantages.astro';
import Geography from '../../components/Geography.astro';
import UseCases from '../../components/UseCases.astro';
import Pricing from '../../components/Pricing.astro';
import Process from '../../components/Process.astro';
import Safety from '../../components/Safety.astro';
import FAQ from '../../components/FAQ.astro';
import CallToAction from '../../components/CallToAction.astro';
import Footer from '../../components/Footer.astro';
---

<Layout 
	title="Аренда манипулятора и экскаватора-погрузчика | Буча, Ирпень" 
	description="Аренда крана-манипулятора MAN и экскаватора-погрузчика Bobcat B750 в Гостомеле, Буче, Ирпене, Ворзеле и по Киеву. Перевозка грузов, земляные и погрузочные работы. Заказывайте выезд техники под ваш объект."
	lang="ru"
>
	<Header lang="ru" />
	<main>
		<Hero lang="ru" />
		<Fleet lang="ru" />
		<Services lang="ru" />
		<Advantages lang="ru" />
		<Geography lang="ru" />
		<UseCases lang="ru" />
		<Pricing lang="ru" />
		<Process lang="ru" />
		<Safety lang="ru" />
		<FAQ lang="ru" />
		<CallToAction lang="ru" />
	</main>
	<Footer lang="ru" />
</Layout>
